extends layout.pug 

block content
    
    h2(class="text-2xl mt-8") Votre recherche
    form(action="/search" method="get" class="mt-4")
        p
            input(type="search" name="q" value=keyword class="border border-gray-300 p-2 rounded-md focus:outline-none focus:ring focus:border-blue-500 w-full")
        p.flex.justify-center
            button(type="submit" class="mt-2 px-4 py-2 bg-red-600 text-white rounded-md") Rechercher

    section(class="mt-10 grid grid-cols-1 md:grid-cols-1 gap-4")
        div(class="p-4 bg-white shadow-md")
            P Cette semaine nous allons vous faire découvrir NodeJS avec express / pug et MySQL       